body {
    margin:0%;
    padding: 0%;
    background-image: url(../images/targon-lol.jpg);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 0px;
}

#main-logo {
    width: 325px;
    display: block;
    margin: 0px auto;
}

.heading {
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.characters {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0%;
}

.characters li {
    height:220px;
}

.characters li h3 {
    color:white;
    text-align: center;
    padding: 15px 8px;
}

.characters li a {
    text-decoration: none;
}

.sprite {
    width: 128px;
    height: 128px;
    background-image: url(../images/leagueSprites.jpg);
}

#char1 {
    background-position: 0px 0px;
}

#char2 {
    background-position: -128px 0px;
}

#char3 {
    background-position: -256px 0px;
}

#char4 {
    background-position: -384px 0px;
}

#char5 {
    background-position: -512px 0px;
}

#char6 {
    background-position: -640px 0px;
}

#char7 {
    background-position: -768px 0px;
}

#char8 {
    background-position: -896px 0px;
}

#char1:hover, #char2:hover, #char3:hover, #char4:hover, #char5:hover, #char6:hover, #char7:hover, #char8:hover {
    background-position-y: 128px;
}

#instructions {
    padding: 0px;
    text-align: center;
}

#instructions h3 {
    font-size: 22px;
    padding: 0%;
    margin: 0%;
}

#instructions p {
    margin: 0%;
    margin-top: 10px;
    padding: 0%;
}

.sticky-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sticky-footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sticky-footer .copyright img {
    padding-left: 15px;
    width: auto;
    height: 30px;
}

.button {
    margin: 0%;
    background-color: #3fabdd;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}

.sticky-footer h1 {
    margin: 0px 10px;
    padding: 0%;
    font-size: 50px;
}

.button:hover {
    background-color: #1b1b1b;
}