body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box {
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding:20px;
    width: 100px;
    margin: 10px;
    text-align:center;
}

.container {
    background-color: blanchedalmond;
    display: flex;
    margin: 0 auto;
}

